@use "../../main.scss";
.card {
  width: 400px;
  height: 600px;
  border: 1px solid rgb(51, 38, 38);
  padding: 10px;
  color: white;
  &__item {
    list-style: none;
  }
  &__image {
    display: block;
    width: 100%;
    height: 400px;

    margin-bottom: 10px;
  }
  &__name {
    padding: 5px 10px 10px 15px;
    font-size: 26px;
    border-bottom: 1px solid rgb(51, 38, 38);
  }
  &__price {
    display: block;
    margin: 10px;
    margin-left: 15px;
    font-size: 20px;
  }
  &__action-btns {
    margin: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__add-to-cart {
    @include main.button;
    margin-left: 0;
  }
  &__vendorCode {
    display: block;
    margin: 2px 0px 0px 15px;
  }
}
