@use "../../main.scss";

.cart-section {
  @include main.stylesForCartAndFavPage;
}
.cart__total-price {
  display: flex;
  justify-content: flex-end;
  margin: 0px 100px;
  font-size: 30px;
  color: white;
}
