.noPage {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  &__error {
    font-size: 70px;
    padding: 30px 50px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &__message {
    font-size: 30px;
    margin: 20px;
  }
  &__link {
    margin: 20px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(174, 173, 173);
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}
